body {
    background-color: rgb(104, 104, 228);
    background-image: url("./bg-pic.jpg");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;

}

.prev-song {
    background-image: url("./play-prev.svg");
}

.play-song {
    background-image: url("./play.svg");

}

.pause-song {
    background-image: url(./pause.svg);

}

.next-song {
    background-image: url("./play-next.svg");
}

.container {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    justify-content: space-between;



}

.player-icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.player-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.player-icon:active {
    transform: scale(1.2);
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: URL("https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}

.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Change the mouse cursor to a pointer
     when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}